*{
    margin:0 auto;
    padding: 0;
}

.container{
    display: grid;
    background: linear-gradient(135deg, red, black);
    min-height: 500px;
    height: 100vh;
}

.row{
    width: 500px;
    background-color: white;
    margin: auto;
    min-height: 300px;
    height: fit-content;
    border-radius: 20px;
    padding: 20px;  
}

.row h1{
    text-align: center;
    font-size: 45px;
}

.question{
    padding-top: 10px;
    font-size: 18px;
}

.ans{
    margin-top: 10px;
    display: grid;
}

button{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    border:solid 1px black;
    color:black
}

button:hover{
    color:white;
    background-color: rgb(176, 174, 174);
    cursor: pointer ;
}

.btn{
    display: grid;
    padding-top: 10px;
}

.nextbtn{
    width: 30%;
    display: none;
}

.correct{
    background-color: #bbf1bb;
}

.incorrect{
    background-color: #f1bbbb;
}

.congrats{
    font-size: 60px;
    text-align: center;
}

.marks{
    margin:40px auto;
    font-size: 30px;
    text-align: center;
}